<div class="card shadow text-center" style="max-width: 350px; min-width: 350px">
  <div class="card-body">
    <h5 class="card-title">{{ projectName }}</h5>
    <p class="card-text">This is a description of the Sample Project</p>
    <button class="btn btn-primary">View More</button>
    <div class="card-footer">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="tag m-2 mb-1">Angular</div>
        <div class="tag m-2 mb-1">TypeScript</div>
      </div>
    </div>
  </div>
</div>
