<div class="container">
  <div class="row">
    <!-- About Me -->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <img
          src="../../assets/headshot.jpg"
          alt="profile picture"
          width="256"
          height="256"
          class="rounded-circle"
        />
        <p>
          Hanover College Alumni with a BA in Computer Science. Passion for web
          development and technology. Experience using React, Angular, NextJs,
          HTML, CSS, JavaScript, Git, Java, Python, and C++. Enjoys reading
          books on personal finance, playing video games, golfing, and building
          computers.
        </p>
      </div>
    </div>
    <!-- Featured Project -->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Featured Project</h2>
      </div>
    </div>
  </div>
</div>
